@import "~bulma/bulma";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
    nav {
        .navbar-item {
            &.is-active {
                background: #effaf5 !important;
            }
        }
    }
}
